<!DOCTYPE html>
<html>
<head>
	<title>Crime report management</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">		

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body style="background:url(http://chinalatinanyc.com/wp-content/uploads/2018/06/light-grey-background-hd-5-1-your-image-works-inc-in-fantastic-light-grey-your-home-concept.jpg); height:100%;background-repeat: no-repeat;background-size: cover;background-opacity:0.5;">

	<nav class="navbar navbar-dark bg-dark" data-spy="affix" data-offset-top="197">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/logout"><font size="+3">  <i class="fas fa-balance-scale"></i>  CRIME RECORD MANAGEMENT </font></a>
			</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item nav-item"><a class="nav-link" href="/logout" ><span style="color:white"><font size="+2">Logout <i class="fa fa-user-times" style="font-size:30px"></i></font></span></a></li>
			</div>
	</nav>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
       <div>
					 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/home">HOME</a></button>
					 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/police">POLICE</a></button>
			      	 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/fir">FIR</a></button>
				     <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/cases">CASES</a></button>
					 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/courts">COURTS</a></button>
					 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/prisoners">PRISONERS</a></button>
					 <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-link" href="/victims">VICTIMS</a></button>
			
			</div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
	</nav>
	<% if(success && success.length > 0){ %>
<div class="container">
	<div class="alert alert-success" role="alert"><%= success %></div>
</div>
<% } %>
	<% if(message && message.length > 0){ %>
<div class="container">
	<div class="alert alert-danger" role="alert"><%= message %></div>
</div>
<% } %>
