<% include ../partials/header %>
<div class="container animated fadeIn slow">
<h1 style="text-align:center; padding-top:2.5em; padding-bottom:0.25em;font-family: Marker Felt, fantasy;">HOME</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" height="300" src="https://www.fanny-chaussures.com/blog/wp-content/uploads/crime-logo.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="300" src="https://www.dollsievers.com/wp-content/uploads/2015/02/Criminal-Defense-Attorney-Houston.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="300" src="http://52.41.251.138/sites/default/files/2017-11/crime%20rate_0.jpg" alt="Fourth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" height="300" src="https://www.cumbria.police.uk/Advice-Centre/Photos-Advice-Centre/Road-and-Vehicle-Safety-Photos/Car-Crime-849x400.jpg" alt="Third slide">
    </div>
    
  </div>
</div>
<br>
<font size="+2">
	<p style="text-align:center;"><strong>
	  This project is aimed to reduce the manual work involved in maintenance of records of crimes all around the globe. It is an era of computerization and data security, to combat with increasing rate of crimes and criminals CRMS is introduced. This is web based application that provides managing the data and various information about the criminals and their crimes. This project is developed mainly to simplify the manual work and allows smooth access for users to view all the crime records. The main function of the system is to create a platform between police and crime database directly.
	</p></strong>
</font>
<h4 style="margin: 10px 0;padding-top:2.5em; padding-bottom:1em;">DEVELOPED BY:-</h4>
<p>
	>>RISHABH KHEMKA
	<p>>>SUDIP NANDI</p>
</p>
</div>
