<% include ../partials/header %>
<div class="container animated fadeInLeft fast">
<h1 style="text-align:center; padding-top:2.5em; padding-bottom:0.25em">ABOUT US</h1>

<font size="+1">
	<p style="text-align:center;"><strong>
	The crime record management system project is a web based application that provides facility for reporting crimes. This system is to manage all the activities in police station. The system at any point of time can provide the details of existing criminals , victims and their registered FIR. It can also track the details of police station constable, their work hours, salary report etc.
	</p></strong>
</font>
<h4 style="margin: 10px 0;padding-top:2.5em; padding-bottom:1em;">THIS PROJECT IS DEVELOPED BY</h4>
<p>
	>>RISHABH KHEMKA
	<p>>>SUDIP NANDI</p>
</p>
</div>
