<% include ../partials/header %>
<div class="container animated fadeInLeft delay-0.1s">
            <h1 style="text-align:center">Enter the details:</h1>
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/police/addnew" method="POST">
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="p_id" placeholder="Police ID">   
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="p_name" placeholder="Name" required>   
                </div>
                <div class="form-group">
                    <input type="radio" name="sex" value="male" checked> Male
                    <input type="radio" name="sex" value="female"> Female
                    <input type="radio" name="sex" value="other"> Other
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" pattern="[0-9]{10}" maxlength="10" name="p_mobile" placeholder="Mobile no."required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="p_email" placeholder="email" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="p_address" placeholder="address"required>   
                </div>
                <div class="form-group">
                    <input class="form-control"type="number" min="0" name="p_sal" placeholder="Salary"required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="p_design" placeholder="Designation" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="Date of Birth"  name="dob" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" accept="image/*" placeholder="Image URL"  name="pic" required>   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
                </div>
                
            </form>
            <a href="/police"><button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
            </div>
    </div>
</div>

</body>
