<% include ../partials/header %>
<div class="container  animated fadeInLeft delay-0.1s">
            <h1 style="text-align:center">Enter the details:</h1>
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/cases/addnew" method="POST">
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="case_no" placeholder="Case no">   
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="case_type" placeholder="Type of case" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="p_id" placeholder="Police ID" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="crt_id" placeholder="Court ID" required>   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
                </div>
            </form>
            <a href="/cases"><button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
    </div>
</div>

</body>
